DATABASE_URL="postgresql://sportsclub:sportsclub123@localhost:5433/sportsclub?schema=public"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NODE_ENV="development"
